<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Edit.ejs</title>
</head>
<body>
 <h1>Edit Your Data Here</h1>
 <form method="POST" action="/users/edit?_method=PATCH">
  <input type="text" name="id" value="<%= data.id %>"><br>
  <input type="text" name="username" value="<%= data.username %>"><br>
  <input type="text" name="email" value="<%= data.eamil %>"><br>
  <input type="text" name="password" value="<%= data.password %>"><br>
  <button type="submit">Submit</button>
 </form>
</body>
</html>