<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>New Data</title>
</head>
<body>
 <h1>Create New Data</h1>
 <form method="post" action="/users/add">
    <input type="text" name="id" value="<%= id %>"><br>
    <input type="text" name="name" placeholder="Name"><br>
    <input type="text" name="email" placeholder="Email"><br> 
    <input type="text" name="password" placeholder="password"><br>
    <button type="submit">Add</button>
 </form>
</body>
</html>