<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <div class="new">
        <form action="/newChat" method="post">
             <input placeholder="from" type="text" name="from"><br>
             <input placeholder="to" type="text" name="to"><br>
             <input placeholder="msg" type="text" name="msg"><br>
             <button type="submit">ADD</button>
        </form>
    </div>
</body>
</html>