body{
    background-color:aquamarine;
}
.posts {
    background-color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
    margin:10px;
    
}
.singlepost {
    border:10px solid red;
}