<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>View the listing here</h3>
    <br>
    <div class="single-listig">
        <p>Name : <%= data.name %></p>
        <p>Place : <%= data.place %></p>
        <p>Price : <%= data.price %></p>
        <form method="POST" action="/listings/<%= data._id %>?_method=DELETE">
            <button type="submit">Delete</button>
        </form>
    </div>
</body>
</html>