<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Data</title>
</head>
<body>
    <h2>Add New Task Here</h2>
    <form action="/add" method="POST">
        <input type="text" name="task" placeholder="task"><br>
         <input type="text" name="Reward" placeholder="Reward"><br>
         <button type="text">Add Task</button>
    </form>
</body>
</html>