<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Form For Post</title>
</head>
<body>
    <h2>Edit The Task Here</h2>
    <br>
    <hr>
    <form action="/edit/:id/succ?_method=PUT" method="POST">
        <input type="text" name="task" value="<%= EditData.task %>"><br>
        <input type="text" name="Reward" value="<%= EditData.Reward %>"><br>
        <button type="submit">EDITED!!</button> 
    </form>
</body>
</html>