<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Data</title>
</head>
<body>
    <h2>Here is the data</h2>
    <br>
    <hr>
    <br>
    <h3>TASK : <%= getData.id%></h3>
    <h3>TASK : <%= getData.task%></h3>
    <h3>REWARD : <%= getData.Reward%></h3>

</body>
</html>