<% if(addReview && addReview.length){ %>
    <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert"
    style="padding: 15px;
           font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
           font-weight:bolder;
           color:red;
    "
  >
    <%= addReview %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        <span style="color:red" aria-hidden="true">&times;</span>
      </button>
</div>
<% } %>



