<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Contact App...</title>
 <link rel="stylesheet" href="/home.css">
</head>
<body>
 <h1>Welcome To My App</h1><br>
 <button type="submit"><a href="http://localhost:1414/index">Click To Visit Contact Details</a></button>
</body>
</html>