<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>new.ejs</title>
</head>
<body>
 <h1>Create Your New Post Here</h1>
   <form action="http://localhost:9090/users" method="post">
       id: <input type="text" name="id">
       name :<input type="text" name="username">
       email :<input type="text" name="email">
       password :<input type="password" name="password"> 
       <button type="submit">Add New Post</button>      
   </form>
</body>
</html>