<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Single data</title>
 <link rel="stylesheet" href="/singledata.css">
</head>
<body>
 <h1>Single Data</h1>
     <div class="div">
         <h2>User Id :<%= single_data[0] %></h2>
         <h2>UseName : <%= single_data[1] %></h2>
         <h2>Email : <%= single_data[2] %></h2>
     </div>
</body>
</html>