<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>single.ejs</title>
</head>
<body>
 <center><h1>See In Detail</h1></center>
     <div class="post">
          <h1>Id : <%= single_post.id %></h1>
          <h1>Name : <%= single_post.name %></h1>
     </div>
</body>
</html>