<% layout('./layout/biolarplate.ejs') -%>
<body>
   <form method="POST" action="/new/create">
      <input type="text" placeholder="Title" name="title">
      <input type="text" placeholder="Author" name="author">
      <input type="text" placeholder="URL" name="url">
      <input type="text" placeholder="Price" name="price">
      <input type="text" placeholder="Book Type" name="book_type">
      <button type="submit">Add New Book</button>
     </form>
</body>
