<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>new.ejs</title>
 <link rel="stylesheet" href="/new.css">
</head>
<body>
 <h1>Create New Post</h1><br>
   <div class="post">
    <form action="http://localhost:2323/home" method="post">
            <input type="text" name="img_src" placeholder="Image Url"><br>
            <input type="text" name="name" placeholder="Name"><br>
            <textarea name="about" placeholder="About"></textarea><br>
            <button type="submit">ADD</button>
    </form>
   </div>

</body>
</html>