<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>singlepost.ejs</title>
 <link rel="stylesheet" href="/singlepost.css">
</head>
<body>
    <h1>Post Details</h1>
    <br><hr><br>
    <img src="<%= post.img_src %>">
    <h2>Name : <%= post.name %></h2>
    <h2>About : <%= post.about %></h2>
    <h2>id : <%= post.id %></h2>
<button><a href="/home">Back To Home</a></button>

</body>
</html>