<%- include("includes/header.ejs") %>

<body>
    <h1><%= "This is home page." %></h1>
    <h2><%= 2+2 %></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolorum facilis impedit doloribus ratione debitis quae alias voluptatum tempore rerum sit, atque sed, perferendis id laboriosam quo quia earum officiis esse ducimus placeat nihil? Accusamus, tenetur ipsum eaque ipsa sint consequuntur similique sit quas aperiam distinctio nisi cumque asperiores amet neque sed? Quasi fuga officia in quia sequi repellendus modi ullam ipsa soluta. A pariatur perspiciatis repudiandae quia inventore corporis ut alias recusandae amet nobis expedita qui voluptates necessitatibus rem voluptatibus, accusantium sint modi unde! Voluptates aperiam rerum, quis nihil maxime neque qui obcaecati eaque, nisi quasi sed quos atque.</p>
    <br>
    <button>Submit</button>
    <button>login</button>

    <!-- footer -->
    <%- include("includes/footer.ejs") %>

</body>
</html>