<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Number is : <%= num %></h2><br>
    <hr>
    <br>
    
    <% if(num==5){ %>
        <h3>Roll the dice again...</h3>
    <% } %>
    
   
        
    
    
</body>
</html>