<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(num>5){ %>
        <h3>Random number is greaterthan 5 : <%= num %></h3>
    <% } %>
    <% else{ %>
        <h3>The number is lessthan 5</h3>
    <% } %>
        
    
    
</body>
</html>