<%- include("includes/header.ejs") %>
<body>
    <h2>Number is : <%= num %></h2><br>
    <hr>
    <br>
    
    <% if(num==5){ %>
        <h3>Roll the dice again...</h3>
    <% } %>
    
   
        <!-- footer -->
        <%- include("includes/footer.ejs") %>
    
</body>
</html>