<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Get & Post methods</title>
</head>
<body>
    <h3>GET method</h3>
    <form method="GET" action="http://localhost:9595/register">
        <input type="text" name="name"><br>
        <input type="text" name="email"><br>
        <button type="submit">Submit</button>
    </form>

    <h3>POST method</h3>
    <form method="POST" action="http://localhost:9595/newData">
        <input type="text" name="name"><br>
        <input type="password" name="pass"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>