<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Form</title>
</head>
<body>
    
    <form action="/posts/<%= get_Data.id %>?_method=PATCH" method="POST">
        <h2><%= get_Data.id %></h2>
            <input type="text" name="username" value="<%= get_Data.username %>">
            <textarea name="content"><%= get_Data.content %></textarea>
         <button type="submit">Edit</button>
    </form>

</body>
</html>